<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <body>
        <!--/*  declare parameterized fragment called "navbar" */-->
        <div th:fragment="navbar" class="navbar">
                <a th:href="@{/home}">Home</a>
                <a th:href="@{/ordini}">Ordini</a>
                <a th:href="@{/carrello}">Carrello</a>

                <form action="#" th:action="@{/risultati}" method="GET">
                    <input type="text" placeholder="Cerca..." name="queryString" required />
                </form>
        </div>

    </body>

</html>