<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" type="text/css" media="all"
              href="../css/stylesheet.css" th:href="@{/css/stylesheet.css}" />

    </head>
    <body>

    <div th:insert="@{fragments/fragments.html} :: navbar (products = ${products})"></div>


    <div>
        <h2>Carrello</h2>
        <p th:if="${cart.isEmpty()}">Nessun prodotto nel carrello</p>

        <ul th:if="${!cart.isEmpty()}">
            <li th:each=" entryCarrello : ${cart.entrySet()}" th:with=" fornitore = ${supplierDAO.getSupplier(entryCarrello.getKey())}">

                <p th:text="${fornitore.getNome()}"></p>

            </li>
        </ul>

    </div>


    </body>
</html>