<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" type="text/css" media="all"
              href="../css/stylesheet.css" th:href="@{/css/stylesheet.css}" />

    </head>
    <body>

    <div th:insert="@{fragments/fragments.html} :: navbar"></div>

    <div class="searchForm">
        <form action="#" th:action="@{/results}" method="GET">
            <input type="text" placeholder="Cerca..." name="queryString" required />
        </form>
    </div>

    <h2 th:if="${products.isEmpty()}">No products in DB</h2>
    <h2 th:if="${!products.isEmpty()}">Hai visto di recente o potrebbe interessarti:</h2>
    <br/>
    <div class="card-container">
        <div class="card" style="width: 18rem;" th:if="${!products.isEmpty()}" th:each="prod : ${products}">
            <img th:src="@{${'/image?idProduct=' + prod.codice}}" class="card-img-top"/>
            <div class="card-body">
                <p th:text="${'Codice: ' + prod.Codice}"></p>
                <p th:text="${'Nome Prodotto: ' + prod.nome()}"></p>
            </div>
        </div>
    </div>

    </body>
</html>