<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>Ordini</title>
        <link rel="stylesheet" type="text/css" media="all"
              href="../css/stylesheet.css" th:href="@{/css/stylesheet.css}" />

    </head>
    <body>

        <div th:insert="@{fragments/fragments.html} :: navbar"></div>

        <div>
            <p th:if="${ordini.isEmpty()}">Non hai ancora effettuato alcun ordine.</p>

            <h2 th:if="${!ordini.isEmpty()}">Storico ordini:</h2>
            <div class="risultati">
                <ul class="listview">
                    <li class="listview-row" th:if="${!ordini.isEmpty()}" th:each="ordine : ${ordini}">

                        <div>
                            <h3 th:text="${'Codice ordine: ' + ordine.codice()}">Codice Ordine</h3>
                            <p th:text="${'Fornitore: ' + ordine.nomeFornitore()}">Fornitore</p>
                            <p th:if="${ordine.dataSpedizione() != null}" th:text="${'Data di spedizione: ' + ordine.dataSpedizione().toString()}">Data Spedizione</p>
                            <p th:if="${ordine.dataSpedizione() == null}" th:text="${'Ordine non ancora spedito.'}">Data Spedizione</p>

                            <p th:text="${'Indirizzo di spedizione: ' + ordine.via() + ' ' + ordine.civico() + ', ' + ordine.citta() + ' (' + ordine.provincia() + '), ' + ordine.CAP() + ', ' + ordine.stato()}">Indirizzo di consegna</p>

                            <p th:text="${'Totale ordine: ' + #numbers.formatDecimal(ordine.totaleOrdine() / 100.00,1,'COMMA',2,'POINT') + ' €'}">Totale ordine</p>
                            <p th:text="${'Spese di spedizione: ' + #numbers.formatDecimal(ordine.speseSpedizione() / 100.00,1,'COMMA',2,'POINT') + ' €'}">Spese di spedizione</p>

                            <h3>Prodotti</h3>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Codice Prodotto</th>
                                        <th>Nome Prodotto</th>
                                        <th>Prezzo Unitario</th>
                                        <th>Quantita Ordinata</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="prodotto : ${ordine.orderDetails()}">
                                        <td th:text="${prodotto.idProduct()}">Codice</td>
                                        <td th:text="${productDAO.getProduct(prodotto.idProduct()).nome()}">Nome</td>
                                        <td th:text="${#numbers.formatDecimal(prodotto.prezzoUnitario() / 100.00,1,'COMMA',2,'POINT') + ' €'}">Prezzo</td>
                                        <td th:text="${prodotto.amount()}">Q.nta</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </li>
                </ul>
            </div>

        </div>


    </body>
</html>