<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>Risultati</title>
        <link rel="stylesheet" type="text/css" media="all"
              href="../css/stylesheet.css" th:href="@{/css/stylesheet.css}" />

    </head>
    <body>

        <div th:insert="@{fragments/fragments.html} :: navbar (products = ${products})"></div>

        <div>
            <p th:if="${risultati.isEmpty()}">Nessun risultato corrisponde alla ricerca...</p>

            <h2 th:if="${!risultati.isEmpty()}">Risultati ricerca:</h2>
            <div class="risultati">
                <ul class="listview">
                    <li class="listview-row" th:if="${!risultati.isEmpty()}" th:each=" risultato : ${risultati.keySet()}">
                        <form th:action="@{${codiciAperti.contains(risultato.codice) ? '/risultati' : '/visualizza'}}" th:method="${codiciAperti.contains(risultato.codice) ? 'GET' : 'POST'}">
                            <input type="hidden" name="queryString" th:value="${queryString}" />
                            <input th:each=" codice : ${codiciAperti}" th:if="${!codice.equals(risultato.codice)}" type="hidden" name="aperto" th:value="${codice}"/>
                            <input type="hidden" name="visualizzato" th:value="${risultato.codice}" />
                            <input type="submit" th:value="${risultato.codice + ' - ' + risultato.nome + ': ' + risultati.get(risultato) + ' €'}" value="123 - Nome prodotto: 12.00 €">
                        </form>
                        <div th:if="${codiciAperti.contains(risultato.codice)}">
                            <p th:text="${risultato.descrizione()}"></p>
                        </div>
                    </li>
                </ul>
            </div>

        </div>


    </body>
</html>